/* Rogayah Garout ID:2112035 */

@font-face {
    font-family: myFont1;
    src: url(MYFONTS/crake-font-family/craketest-medium.otf);
 }

 @font-face {
  font-family: myFont2-asbigan;
  src: url(MYFONTS/asbigan-regular.ttf);
}

@font-face {
  font-family: myFont3-faraz;
  src: url(MYFONTS/farazdemo.woff);
}

@font-face {
  font-family: myFont3-grotesque;
  src: url(MYFONTS/webfont/DarkerGrotesque-Regular.woff);
}

html, body {
    /*background: rgb(255,203,250);
    background: radial-gradient(circle, rgba(255,203,250,0.24116424116424118) 50%, rgba(240,240,240,0.2973783263305322) 100%);
    */
    line-height: 28px;
    font-family: Noto Sans, sans-serif;
    color: rgb(66, 60, 60);
    font-size: 17px;

}

p{
  font-family: myfont3-grotesque;
  letter-spacing: 1.5px;
  font-size: 25px;
  display: block;
  color: rgb(92, 88, 88);
  line-height: 1.5;
}

a{
  text-decoration: none;
  color: #211f1f;
}

.no_padding{
  padding-top:0 !important;
}

.space-30 {
  height: 30px;
}

img {
  width: 100%;
  max-width: 100%;
}

header{
  background-color: rgb(255,203,250);
  background-image: url(IMG/Header.png);
  background-position: top;
  background-size:cover;
  background-attachment: fixed;
}

.container{
    width: 1920px;
    margin: 0 auto;
    max-width: 100%;
    border-style: hidden;
}

nav{
  display: grid;
  background-color: #f6ebeb;
  grid-template-columns: 40% 60%;
  position:fixed; 
  top: 0;
  border-style: hidden;
  /*width: 100%;*/
}

div.R_logo{
  padding: 10px;
  border-style: hidden;
}

div.R_logo img{
  width:1500px;
  /*box-align: right;*/
  width:100%;
}

.navBar ul, .navBar li {
  margin: 0;
  padding: 0;
  /*padding: 10px;
  overflow: hidden;
  position: fixed; 
  top: 0;
  width: 100%;*/
}

.navBar li, .navBar a{
  display: inline-block;
  font-weight: 500;
  color:rgb(129, 125, 125);
  list-style-type: none;
  font-size: 17px;
  letter-spacing: 1px;
  text-align: right;
  padding: 3px 10px;
  margin-right: 15px;
}

.navBar ul{
  text-align: right;
}

.navBar a:hover {
  /*background-color: #ddd;*/
  color: black;
  text-decoration: underline;
}

.navBar-left{
  float: left;
  margin-left: 15px;
}

.headerTitle{
  padding-top: 350px;
  padding-bottom: 400px;
  border-style: hidden;
  border-color: brown;
}

header h1{
    text-align: center;
    color: antiquewhite;
    font-family:myFont;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 4px;
    vertical-align:bottom;
}

.text-center {
    text-align: center;
}

h3, h4{
  display: block;
  font-size: 35px;
  color: rgb(66, 60, 60);
  font-weight: bold;
  letter-spacing: 2.5px;
  text-transform: capitalize;
  font-family: myFont2-asbigan;
}

.grid{
  display: grid;
  grid-gap: 80px;
  padding: 15px 15px;
}

.col-2{
  grid-template-columns:auto auto;
  align-items: center;
  padding: auto 30%;
}

.col-3{
  grid-template-columns:auto auto auto;
  align-items: center;
  padding: auto 70%;
}

#aboutme div.container{
  border-style: hidden;
  padding-top: 200px;
  padding-bottom: 200px;
  /*margin-bottom: 50px;*/
}
.col-2 .round_img{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  /*text-align: left;*/
  border-style: hidden;
  padding-left: 5px;
}

.circle-container {
  display: block;
  border-radius: 50%;
  width: 340px;
  height: 320px;
  background-size: contain;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(55, 52, 52, 0.807);
  margin-right: auto;
  margin-left: auto;
}

.round_img img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  z-index: 10;
}

.textcol{
  font-family: myFont3-grotesque;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  /*text-align: left;*/
  word-spacing: 2px;
  letter-spacing: 0.9px;
  border-style: hidden; 
}

#education div.container{
  border-style: hidden;
  padding-top: 100px;
  padding-bottom: 250px;
  /*margin-bottom: 50px;*/
}

#education span{
  font-family: myFont3-grotesque;
  font-size: 30px;
  color: darkolivegreen;
}

#education ul{
  margin: 0;
  padding: 0;
}

#education li {
  list-style-type:disc;
  font-size: 25px;
  display: block;
  color: rgb(92, 88, 88);
  line-height: 1.5;
  text-align: left;
  border-style: hidden;
}

.image_div{
  background-color: cornsilk;
  background-image:url(IMG/image-divider.png) ;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}

.button{
  padding: 10px 20px;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  border: 2px solid #211f1f;
  font-weight: bold;
}

#projects div.container{
  border-style: hidden;
  padding-top: 200px;
  padding-bottom: 200px;
  /*margin-bottom: 50px;*/
}

#projects div.container h4{
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

#projects div.container p{
  font-family: myFont3-grotesque;
}

.circle_title{
  width: 250px;
  height: 250px;
  display: grid;
  align-items: center;
  border-radius: 60%;
  font-family:myFont3-faraz;
  letter-spacing: 1px;
  background-color: rgb(254, 241, 224);
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

.rectangle_title{
  width: 350px;
  height: 250px;
  display: grid;
  align-items: center;
  font-family:myFont;
  letter-spacing: 2px;
  background-color: #fbfefe;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
}

.rectangle_title::before{
  content: "";
  display: block;
  position: absolute;
  margin-bottom: -15px;
  margin-left: -15px;
  border: 2px ridge rgb(47, 31, 16);
  width: 350px;
  height: 250px;
}

.rectangle_title span{
  font-size: 17px;
  font-family: sans-serif;
  display: block;
  /*line-height: 1;*/
  text-decoration:none;
}

.rectangle_title a{
  font-size: 15px;
  font-family: sans-serif;
  display: block;
  color: rgb(92, 88, 88);
  /*line-height: 1;*/
  text-decoration:none;
}

#contact div.container{
  border-style: hidden;
  padding-top: 150px;
  padding-bottom: 200px;
  /*margin-bottom: 50px;*/
}

footer{
  background-color: #f8f4e9;
  border-style: hidden;
}

ul.socialmedia{
  margin-left: -16px;
}

ul.socialmedia li{
  list-style: none;
  display: inline-block;
  margin-right: 17px;
}
  
ul.socialmedia li a{
  color:#211f1f;
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid rgb(41, 41, 41);
  border-radius: 50%;
  line-height: 25px;
  padding: 8px;
}
